# Ignore everything:
*

# Do not ignore the .gitignore file
!.gitignore

# Do not ignore the component or media
!components/
!components/com_serviceu/
!components/com_serviceu/*
!components/com_serviceu/helpers/
!components/com_serviceu/helpers/*
!components/com_serviceu/models/
!components/com_serviceu/models/*
!components/com_serviceu/pest/
!components/com_serviceu/pest/*
!components/com_serviceu/views/
!components/com_serviceu/views/*
!components/com_serviceu/views/calendar/
!components/com_serviceu/views/calendar/*
!components/com_serviceu/views/event/
!components/com_serviceu/views/event/*
!components/com_serviceu/views/event/tmpl/
!components/com_serviceu/views/event/tmpl/*
!components/com_serviceu/views/eventlist/
!components/com_serviceu/views/eventlist/*
!components/com_serviceu/views/eventlist/tmpl/
!components/com_serviceu/views/eventlist/tmpl/*
!administrator/
!administrator/components/
!administrator/components/com_serviceu/
!administrator/components/com_serviceu/*
!administrator/components/com_serviceu/models/
!administrator/components/com_serviceu/models/*
!administrator/components/com_serviceu/sql/
!administrator/components/com_serviceu/sql/*
!administrator/components/com_serviceu/tables/
!administrator/components/com_serviceu/tables/*
!administrator/components/com_serviceu/views/
!administrator/components/com_serviceu/views/*
!administrator/components/com_serviceu/views/csv/
!administrator/components/com_serviceu/views/csv/*
!administrator/components/com_serviceu/views/csv/tmpl/
!administrator/components/com_serviceu/views/csv/tmpl/*
!administrator/components/com_serviceu/views/log/
!administrator/components/com_serviceu/views/log/*
!administrator/components/com_serviceu/views/log/tmpl/*
!administrator/components/com_serviceu/views/log/tmpl/*
!administrator/components/com_serviceu/views/panel/
!administrator/components/com_serviceu/views/panel/*
!administrator/components/com_serviceu/views/panel/tmpl/
!administrator/components/com_serviceu/views/panel/tmpl/*
!media/
!media/com_serviceu/
!media/com_serviceu/*
!media/com_serviceu/colorbox/
!media/com_serviceu/colorbox/*
!media/com_serviceu/colorbox/images/
!media/com_serviceu/colorbox/images/*
!media/com_serviceu/colorbox/images/ie6/
!media/com_serviceu/colorbox/images/ie6/*

# Do not ignore the service calendar module
!modules/
!modules/mod_serviceu_calendar/
!modules/mod_serviceu_calendar/*
!modules/mod_serviceu_calendar/tmpl/
!modules/mod_serviceu_calendar/tmpl/*

# Do not ignore the service categories module
!modules/mod_serviceu_categories/
!modules/mod_serviceu_categories/*
!modules/mod_serviceu_categories/tmpl/
!modules/mod_serviceu_categories/tmpl/*

# Do not ignore the service eventlistings module
!modules/mod_serviceu_eventlistings/
!modules/mod_serviceu_eventlistings/*
!modules/mod_serviceu_eventlistings/tmpl/
!modules/mod_serviceu_eventlistings/tmpl/*
